<!doctype html>
<html>
<head>
   <title> Dataviz - All tables </title>
   <link href="{{ url_for('static', filename='styles.css') }}"" rel="stylesheet"/>
</head>
<body>
   <section class="content">
      <table justify="center">
         <thead>
            <tr>
               <th scope="col">Invoice n°</th>
               <th scope="col">Date</th>
               <th scope="col">Country</th>
               <th scope="col">Quantity</th>
               <th scope="col">Price</th>
               <th scope="col">Description</th>
            </tr>
         </thead>
         <tbody>
            {% for row in rows %}
            <tr>
               <th scope="row"> {{ row['invoice_nb'] }} </th>
               <td> {{ row['invoice_date'] }} </td>
               <td> {{ row['country'] }} </td>
               <td> {{ row['quantity'] }} </td>
               <td> {{ row['price'] }} </td>
               <td> {{ row['description'] }} </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </section>
</body>
</html>