<!doctype html>
<html>
<head>
   <title> Hello, World! </title>
   <link href="{{ url_for('static', filename='styles.css') }}"" rel="stylesheet"/>
</head>
<body>
   <p> Liens vers les vues </p>
   <a href="./dataviz/"> Toutes les tables </a> <br>
   <a href="./dataviz/customer"> Table "customer" </a> <br>
   <a href="./dataviz/product"> Table "product" </a> <br>
   <a href="./dataviz/customer_order"> Table "customer_order" </a> <br>
   <a href="./dataviz/order_detail"> Table "order_detail" </a> <br>
</body>
</html>